{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} | Nos jeux{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="assets/css/game.css">
{% endblock %}

{% block header %}
    <header>
        <div class="title">
            <h1>Nos jeux</h1>
        </div>
    </header>

{% endblock %}

{% block content %}
    <div class="row">
        {% for game in games %}
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    <img src="{{ game.image }}" class="card-img-top" alt="{{ game.name }}">
                    <div class="card-body">
                        <h2 class="card-title">{{ game.name }}</h2>
                        <p class="card-text">{{ game.price ?? '0' }}€</p>
                        <a href="#" class="btn btn-primary">Détail du jeu</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
